.side-bar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  width: 90%;
  height: 100vh;
  gap: 20px;
  grid-row: 1;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  margin-left: 3%;
}

.side-bar-content {
  margin-left: 6%;
}

.properties {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.side-bar li {
  list-style: none;
  padding-left: 6%;
  color: gray;
}

.side-bar p {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 4px;
}

.frost-resistance-container li,
.kind-container li,
.light-container li {
  margin-bottom: 4%;
}

.frost-resistance-container li:hover,
.kind-container li:hover,
.light-container li:hover {
  color: rgb(95, 184, 114);
  transform: scale(1.05);
  cursor: pointer;
  width: 90%;
}

.frost-resistance-container p,
.kind-container p,
.light-container p {
  margin-bottom: 4%;
}

.calendars-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 4vh;
}

.calendar {
  width: 84%;
  height: 4vh;
  font-family: "Rubik";
  font-size: 2vh;
  padding-left: 4%;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(95, 184, 114);
  cursor: pointer;
}

.button-in-calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  height: 3vh;
  gap: 6%;
  padding-right: 6%;
  margin-bottom: 2vh;
}

.quantity {
  width: 30%;
  height: 96%;
  background-color: rgb(80, 164, 103);
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Rubik";
  font-size: 1.5vh;
  font-weight: 400;
  padding-left: 4%;
}

.button-in-calendar-container button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(80, 164, 103);
  border: none;
  border-radius: 8px;
  color: white;
  font-family: "Rubik";
  font-size: 1.5vh;
  font-weight: 400;
}

.button-in-calendar-container button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}